$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/_bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/_bootstrap";

.navbar {
  margin: 0;
}

#forceps {
  float: left;
  padding: 7px 8px 4px 0;

  img {
    width: 40px;
    height: 40px;
  }
}

#title {
  line-height: 23px;
  color: #fff;
}

.file-drop {
  width: 100%;
  padding: 1rem 0 2.5rem 0;
  border: 2px dashed;
  border-radius: 12px;

  text-align: center;
  font-size: 8rem;
  font-weight: bold;

  &.hover {
    border-color: $link-color;
    color: $link-color;
  }
}

.compression-form {
  border: 1px #ddd solid;
  border-radius: 4px;

  input[type=range] {
    // width: 200px;
  }

  input.number {
    width: 50px;
  }
}

.compression-group {
  margin-bottom: 0;
  border: none;
}

.image-container {
  max-height: 40rem;
  overflow: auto;
  background-color: white;
  background-image: 
    linear-gradient(90deg, rgba(200, 200, 200, .5) 50%, transparent 50%),
    linear-gradient(rgba(200, 200, 200, .5) 50%, transparent 50%);
  background-size: 25px 25px;
  text-align: center
}

.global-controls {
  margin-top: 4em;
}

.modal-backdrop.in {
  width: 100%;
  height: 100%;
}
